.contact-container {
    display: flex;
}

.contact-info-container {
    border: 10px;
    border-color: black;
    border-radius: 5px;
    background-color: #0808fa2e;
    width: 47rem;
    height: auto;
    box-shadow: 1px 2px 3px 2px;
    z-index: 500;
    margin-top: 5rem !important;
    margin: auto;
    padding: 2rem;
}

.contact-company {
    padding: 1rem;
    text-align: center;
}

.contact-address-phone {
    font-size: 1.5rem;
}

.contact-info {
    font-size: 2rem;
    display: inline;
}