<br>
<br>
<br>
<div class="contact-container">
  <div class="contact-info-container">
    <div class="contact-company">
        <h1>Contact Advanced Window Washing:</h1>
    </div>
    <div class="contact-address-phone">
      <b>Address:   </b>
      <div class="contact-info">{{companyAddress}}</div>
      <br>
      <b>Phone:   </b>
      <div class="contact-info">{{companyPhoneNumber}}</div>
      <br>
      <b>Email:   </b>
      <div class="contact-info" (click)="openEmailModal()">{{companyEmailAddress}}</div>
    </div>
    

  </div>
  <div class="contact-by-email">
    
  </div>
</div>