.about-container {
}

.about-employee-info {
    display: block;
    padding: 2rem;
    margin-bottom: 3rem;
}

.about-employee-card-container {
    border: 10px solid black;
    border-radius: 5px;
    background-color: #d3d3d366;
    margin: auto;
    width: 75%;
    display: block;
    padding: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.about-employee-card {
    display: inline;
    text-align: justify;
}

.about-employee-position-name-description {
    border-right: 10px black !important;
    width: 75% !important;
    display: inline-block;
    text-align: block;
    font-size: 20px;
}

.about-employee-name {
    font-size: 1.8rem;
    /* display: block; */
}

.about-employee-image {
    display: inline-block;
    margin-left: 3rem;
}

.about-employee-image-size {
    margin: auto;
    width: 175px;
    height: auto;
}