.about-container {
    font-weight: bold;
}

.about-employee-info {
    display: block;
    padding: 2rem;
    margin-bottom: 3rem;
}

.about-employee-card-border {    
    border: 10px solid black;
    border-radius: 10px;
    margin: auto;
    width: 75%;
    margin-bottom: 3rem;
    margin-top: 3rem;
    display: block;
}

.about-employee-card-container {
    background-color: #0808fa2e;
    padding: 2rem;
    border-radius: 10px;
}

.about-employee-card {
    display: inline;
    text-align: justify;
}

.about-employee-position-name-description {
    border-right: 10px black !important;
    width: 75% !important;
    display: inline-block;
    text-align: block;
    font-size: 20px;
}

.about-employee-name {
    font-size: 1.8rem;
    /* display: block; */
}

.about-employee-image {
    display: inline-block;
    margin-left: 3rem;
}

.about-employee-image-size {
    margin: auto;
    width: 175px;
    height: auto;
    box-shadow: 1px 2px 3px 2px;
}