<div class="front-page">
  <div>
    <h1>Services:</h1>
    <ul>
      <li>Window Washing</li>
      <li>Tucker Pole</li>
      <li>Power Washing</li>
      <li>Storm Drains</li>
      <li>Solar Panels</li>
    </ul>
  </div>
  <div>
    <h1 >Advanced Window Washing</h1>
    <img style="align-content:center;" src="../../../assets/images/window_washer.gif" style="width: 60%">
  </div>
  <div>
    <h1>Some Other Info:</h1>
    <ul>
      <li>Locally Owned and Operated</li>
      <li>Residental</li>
      <li>Comercial</li>
      <li>Construction Cleanup</li>
      <li>One last bullet point</li>
    </ul>
  </div>
</div>