/* @import '~ngx-prime-theme/theme/_colors.scss';
@import '~ngx-prime-theme/theme/_typography.scss'; */

.appointment-container {
	display: block;
    padding: 7rem 2rem;
}

.appointment-container-title {
	font-size: 45px;
    font-weight: 900;
}

.appointment-calendar {
    color: black !important;
}

.appointment-select-date {
    font-size: 24px;
    margin: auto;
    border: 10px;
    border-color: black;
    border-radius: 5px;
    background-color:white;
    width: 42%;
    height: auto;
    box-shadow: 1px 2px 3px 2px;
    padding: 2rem;
}

.schedule-for-date-selected {

}

.appointment {
    display: inline;
}