/* @import '~ngx-prime-theme/theme/_colors.scss';
@import '~ngx-prime-theme/theme/_typography.scss'; */

.appointment-container {
	display: block;
    padding: 7rem 2rem;
}

.appointment-container-title {
	font-size: 45px;
    font-weight: 900;
}